easyocr==1.7.2
ipython==8.12.3
matplotlib==3.10.9
networkx==3.6.1
numpy==2.4.4
opencv_contrib_python==4.10.0.84
opencv_python==4.13.0.92
opencv_python_headless==4.13.0.92
Pillow==12.2.0
skimage==0.0
torch==2.11.0
torchvision==0.26.0
tqdm==4.67.3
ultralytics==8.4.50
